<appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="UrlForFrontSideWebsite" value="http://localhost:54768" />
    <add key="Bennington.ResourceFolderUrl" value="http://localhost:54768/Resource_/"/>
    <add key="Bennington.LocalWorkingFolder" value="C:\_Application\Bennington\localWorkingFolder\"/>
    <add key="Bennington.Content.RoutingCacheKey" value="samplecontentwebsite" />
</appSettings>