<connectionStrings>
    <add name="Bennington.ContentTree.Domain.ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BenningtonModel;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="Mongo" connectionString="mongodb://localhost:27017/BenningtonModel" />
</connectionStrings>